@page "/admin"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using ValhallaVault.Data
@using ValhallaVault.Data.Models;
@using ValhallaVault.Data.Repositories
@inject IDbContextFactory<ProgramDbContext> dbFactory;
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer

<h1>Admin dashboard</h1>

<div style="border: 1px solid black; margin= auto; text-align= center;  ">
    <style>
        #B1 {
            margin: 5px 5px 5px 5px;
        }
    </style>

    <button id="B1" @onclick="() => ChangeNumber(1)" class="btn btn-primary"> Category</button>
    <button id="B1" @onclick="() => ChangeNumber(2)" class="btn btn-primary"> Segment</button>
    <button id="B1" @onclick="() => ChangeNumber(3)" class="btn btn-primary"> Subcategory</button>
    <button id="B1" @onclick="() => ChangeNumber(4)" class="btn btn-primary"> Question </button>
</div>  

<PageTitle>Admin Dashboard </PageTitle>

<br />
<br />

@if(number == 1)
{
    <AdminCategory> </AdminCategory>    
}
@if(number == 2)
{
    <AdminSegment></AdminSegment>
}
@if (number == 3)
{
    <AdminSubcategory></AdminSubcategory>
}
@if (number == 4)
{
    <AdminQuestion></AdminQuestion>
}



@code{
    private int number; 


    private void ChangeNumber(int value)
    {
        if(value == 1)
        {
            number = 1;
        }
        if(value == 2)
        {
            number = 2;
        }
        if (value == 3)
        {
            number = 3;
        }
        if (value == 4)
        {
            number = 4;
        }

    }

}
