@page "/DisplayAllCategories"
@using ValhallaVault.Data.Models
@using ValhallaVault.Components.Pages.RazorComponents
@using ValhallaVault.Data.Repositories
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation
@inject MaxCategoryRepo MaxCategoryRepo
@inject CategoryRepo CategoryRepo

<div class="container mt-4">
    <h1>All Categories</h1>
    @* Display error messages if needed *@
    @if (AllCategories == null)
    {
        <p class="alert alert-danger">Something Went Wrong! Unable to Gather all of the Categories</p>
        return;
    }

    @if (AllCategories.Count <= 0)
    {
        <p class="alert alert-warning">Something went Wrong! There were no categories in the database!</p>
    }

    <!-- Apply Bootstrap styling to the links -->
    <div class="list-group">
        @foreach (CategoryModel category in AllCategories)
        {
            <a href="@($"{Navigation.BaseUri}DisplayAllCategories/DisplayCategory/{category.Id}")" class="list-group-item list-group-item-action">@category.Name</a>
        }
    </div>
</div>

@code {
    //TODO CONACT DB TO GET ALL Categories
    //TODO add a searchbar that searches for a Category
    //TODO add % completion
    public List<CategoryModel>? AllCategories { get; set; } 

    
    protected override async Task OnInitializedAsync()
    {
        AllCategories = (await CategoryRepo.GetAllCategories()).ToList();
        await base.OnInitializedAsync();
    }





}
