@page "/DisplayAllCategories"
@using ValhallaVault.Data.Models
@using ValhallaVault.Components.Pages.RazorComponents
@using ValhallaVault.Data.Repositories
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation
@inject ICategoryRepository CategoryRepo


    
    @* Display error messages if needed *@
    @if (AllCategories == null)
    {
        <div class="container mt-4">
            <p class="alert alert-danger">Something Went Wrong! Unable to Gather all of the Categories</p>
        </div>
        return;
    }

    @if (AllCategories.Count <= 0)
    {
        <div class="container mt-4">
            <p class="alert alert-warning">Something went Wrong! There were no categories in the database!</p>
        </div>

    }
    

    <div class="container mt-4">
                    <h1>Categories:</h1>
        <!-- Apply Bootstrap styling to the links -->
        <div class="list-group">
            @foreach (CategoryModel category in AllCategories)
            {
                <a href="@($"{Navigation.BaseUri}DisplayAllCategories/DisplayCategory/{category.Id}")" class="list-group-item list-group-item-action">@category.Name</a>
            }
        </div>
    </div>

@code {
    //TODO CONACT DB TO GET ALL Categories
    //TODO add a searchbar that searches for a Category
    //TODO add % completion
    //TODO close ofthe already started div in the if statements
    public List<CategoryModel>? AllCategories { get; set; } 

    
    protected override async Task OnInitializedAsync()
    {
        AllCategories = (await CategoryRepo.GetAllCategoriesAsync()).ToList();
        await base.OnInitializedAsync();
    }





}
