@page "/DisplayAllCategories/DisplayCategory/{CategoryId:int}"
@using ValhallaVault.Components.Pages.RazorComponents
@using ValhallaVault.Data.Models
@using ValhallaVault.Data.Repositories
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation
@inject CategoryRepo CategoryRepo
@inject SegmentRepo SegmentRepo

<h1>dfghfkbjnfgdb</h1>
@if (CategoryId == null)
{
    <p>Something went Wrong! There was no routed Category. If you entered this page directly, and did not get redirected here, go
        <a href="@($"{Navigation.BaseUri}DisplayAllCategories")">HERE</a>

    </p>
    return;
}
@if (Category == null || Category?.Name == null)
{
    <p>Something went wrong! The category that was reterived from the database was null.</p>
    return;
}

<div>
    <h1>
        @Category.Name
    </h1>
    
    <h3>Content:</h3>
    @foreach (SegmentModel? segemnt in SegementsThatBelongToCategory)
    {
        if(segemnt == null)continue;
        
        <a href="">@segemnt.Name</a>
        
    }
    
</div>

@code {
    [Parameter]
    public int? CategoryId { get; set; }

    // RUN CODE SO THAT YOU CONTACT DB WITH THE GIVEN CATEGORY ID AND IT THEN GETS THE CATEGORYMODEL
    public CategoryModel? Category { get; set; }

    public List<SegmentModel> SegementsThatBelongToCategory { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if(CategoryId == null)return;
        Category = (await CategoryRepo.GetCategoryById((int)CategoryId));
        SegementsThatBelongToCategory = (await SegmentRepo.GetAllSegments()).ToList();
    }

}
