@page "/Home"
@using ValhallaVault.Components.Pages.RazorComponents
@using ValhallaVault.Data.Models



<h3>Home</h3>
<Question TheQuestion="Question"></Question>
<Question TheQuestion="Question2"></Question>

@code {
    public QuestionModel? Question = Questions.DummyQuestions[1];
    public QuestionModel? Question2 = Questions.DummyQuestions[5];
}
