@page "/"
@rendermode InteractiveServer

<div class="row">

<hr />
    <img class="centered-image" src="Images/logo.png" />
    </div>
<hr />

<br />
<h2 class=" text-center">Welcome to join our specilized and expert-led training programs</h2>
<h3 class=" text-center">where you can learn more about how to safeguard your digital assets</h3>
<br />
<br />

@if(!isChecked)
{
    <div class="text-center">
    <p class="style-link" style="margin-right: 50px;">Please accept our terms and conditions to sign up as a user</p>


        <a class="style-link" href="/account/login/">Already a member? Log in here</a>
    </div>
}
    else
    {
    <div class="text-center">
        <a class="style-link" href="/account/register/" style="margin-right: 50px;">Not a member yet? Register here</a>
        <a class="style-link" href="/account/login/">Already a member? Log in here</a>
    </div>       
    }

 <div class="d-flex align-items">
<p>Accept terms and conditions</p>
<input type="checkbox" @bind="isChecked"/>
</div> 

<style>
    body {
        background-color: aliceblue;
    }

    .centered-image {
        display: block; 
        margin: 0 auto; 
        max-width: 15%; 
        height: auto; 
        padding-bottom: 5px;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
</style>
	

	


@code {
    public bool isChecked = false;
    private string text = "Agree to terms and conditions";
}
