@page "/"

<div class="row">

<hr />
      
    <img class="centered-image" src="Images/logo.png" />
<hr />
</div>
<br />
<h2 class=" text-center">Welcome to join our specilized and expert-led training programs</h2>
<h3 class=" text-center">where you can learn more about how to safeguard your digital assets</h3>
<br />
<br />
<div class="text-center">
<a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/account/register/" style="margin-right: 50px;">Not a member yet? Register here</a>

<a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/account/login/">Already a member? Log in here</a>

</div>




<style>
    body {
        background-color: lavenderblush;
    }

    .centered-image {
        display: block; 
        margin: 0 auto; 
        max-width: 15%; 
        height: auto; 
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
</style>
	

	


@code {




}
