@inject IJSRuntime JSRuntime

<button @onclick="NavigateBack" class="btn btn-primary align-self-center">Go Back</button>

@code {
    private async Task NavigateBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}