@using ValhallaVault.Data.Models

@if (TheQuestion == null || TheQuestion?.Answers == null || string.IsNullOrEmpty(TheQuestion.Question))
{
    <p class="alert alert-danger font-weight-bold">Something Went Wrong. The Question Was not found</p>
    return;
}

<div>
    <div class="card-header bg-primary text-white">
        <h5 class="card-title">@TheQuestion.Question</h5>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (AnswerModel answer in TheQuestion.Answers)
        {
            <li class="list-group-item">
                <Answer TheAnswerModel="answer"></Answer>
            </li>
        }
    </ul>
</div>



@code {
    [Parameter]
    public QuestionModel? TheQuestion { get; set; }
}
