@using ValhallaVault.Data.Models
@if (DisplayThisSegment == null)
{
    <p>Something went wrong! The segment was null</p>
    return;
}

@if (LinkTo == null)
{
    <p>Something went wrong! The link was null</p>
    return;
}

<a href="@LinkTo">
    <p>@DisplayThisSegment.Name</p>
</a>

@code {
    [Parameter]
    public SegmentModel? DisplayThisSegment { get; set; }

    [Parameter]
    public string? LinkTo { get; set; }

}
